@charset "UTF-8";
/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
.hidden {
	display: none;
}
/* content */
body {
	background: #eee;
	font-variant: small-caps;
}
body, a {
	color: #0f0f0f;
	text-decoration: none;
}
a:hover {
	color: #999;
}
#container {
	position: absolute;
	top: 50px;
	right: 150px;
}
