@charset "UTF-8";
/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
.hidden {
	display: none;
}
/* content */
body {
	background: #eee;
	font-family: 'IM Fell English', serif;
	font-variant: small-caps;
	font-size: 16px;
}
body, a {
	color: #0f0f0f;
	text-decoration: none;
}
a:hover {
	color: #999;
}
h1, h2, h3, p {
	line-height: 1.5;
}
h1, h3 {
	font-style: italic;
	text-transform: capitalize;
}
h1, p {
	font-variant: normal;
}
h1 {
	margin: 15px 0 0 45px;
	font-size: 32px;
}
#mission {
	width: 593px;
	padding: 13px;
	text-align: justify;
}
#links {
	position: absolute;
	top: 13px;
	left: 623px;
}
#copyleft {
	position: fixed;
	bottom: 13px;
	right: 13px;
}
