/*
	* Gridless version 2.0

	* Credit is left inline and big thanks to Nicolas Gallagher and Jonathan Neal

	* Across this document we use safe CSS hacks: http://mathiasbynens.be/notes/safe-css-hacks
	* Selectors beggining with an underscore (_selector: property) target only IE6
	* Selectors beggining with an asterisk (*selector: property) target only IE6 and IE7
*/

/* HTML5 display definitions
---------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
	display: block;
}

/* Corrects inline-block not defined in IE6/7/8 and FF3 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

/* Ensures content is hidden from all presentations, including screenreaders */
[hidden] {
	display: none;
	visibility: hidden;
}

/* Base structure
---------------------------------------- */

/*
	* The body will work like a 'div#wrapper' (for this to work, the 'body' needs to have a set width)

	* To add a background to the PAGE, set it in the 'html' element
	* To add a background to the WRAPPER, set it in the 'body' element
*/
html {
	height: 100%;
	font-size: 100%;
	background: #ddd;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	min-height: 100%;
	width: 98%;
	background: #6b6b6b;
}

body.nocolour {
	background: #ddd;
}

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */
body, button, input, select, textarea {
	font: 1em/1.625 'IM Fell English', serif;
	color: #222; /* Full black on white is too much contrast, #222 is a better default */
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
	margin: 0 0 1.625em;
}

/* Headings/small
---------------------------------------- */

/*
	* Font sizes are based on the golden ratio of 16
	* See this for the modular scale: ow.ly/5jGl6
	* Line-heights and margins are adjusted to keep a 26px (1.625em) vertical rhythm across elements 
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'IM Fell English', serif;
	font-size: 1em;
	font-weight: bold;
}

h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.1471em;
	margin: 0 0 .3824em;
}

h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.2381em;
	margin: 0 0 .619em;
}

h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
}

small {
	font-size: .625em; /* 10px */
	margin: 0 0 2.6em;
}

/* Preformatted text and code
---------------------------------------- */

/* Allows line wrapping of 'pre' */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code, kbd, samp {
	font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

/* Tables
---------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
}

tr, th, td {
	padding-right: 1.625em;
}

/* Forms
---------------------------------------- */

form {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

legend {
	border: 0;
	*margin-left: -.438em;
}

button, input, select, textarea {
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
	*overflow: auto;
}

/* Quotes
---------------------------------------- */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, q, cite {
	font-style: italic;
}

blockquote {
	padding-left: 1.625em;
	border-left: .063em solid #ddd;
}

blockquote > p {
	padding: 0;
}

/* Lists
---------------------------------------- */

ul, ol {
	list-style-position: inside;
	padding: 0;
}

li ul, li ol {
	margin: 0 1.625em;
}

dl dd {
	margin-left: 1.625em;
}

/* Links
---------------------------------------- */

a, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #8b0000;
}

a:focus {
	outline: thin dotted;
}

/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

/* Figures
---------------------------------------- */

figure {
	margin: 0;
}

/* Embedded content
---------------------------------------- */

img, object, video {
	max-width: 100%; /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
	/* _width: 100%; /* IE6 doesn't support max-width, so we just use width. If the image is larger than the container, just uncomment this. If it is smaller than the container, uncomment and change the 100% value to an absolute one */
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

/* Abbreviations
---------------------------------------- */

abbr[title], dfn[title] {
	border-bottom: .063em dotted;
	cursor: help;
}

/* Marked/inserted/deleted text
---------------------------------------- */

mark {
	background: #ff0;
}

ins {
	text-decoration: none;
	background: #ff9;
}

del {
	text-decoration: line-through;
}

/* Others
---------------------------------------- */

hr {
	display: block;
	height: .063em;
	border: 0;
	border-bottom: .063em dashed #a4a4a4;
    color: #a4a4a4;
	text-align: center;
}

hr:after {
	content: "✄";
    display: inline-block;
    position: relative;
    top: -.7em;
    font-size: 1.5em;
    padding: 0 .1em;
    background: #6b6b6b;
}

strong, b, dt {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

var, address {
	font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: .625em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Helper classes
---------------------------------------- */

/*
	* Micro clearfix hack, more semantically titled with 'group'
	* Source: nicolasgallagher.com/micro-clearfix-hack/
	* Column %: matthewjamestaylor.com
*/
.group:before, .group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
	margin: 0 auto;
}

.section {
	float: left;
	width: 29.33%;
	position: relative;
	overflow: hidden;
	height: auto;
	margin: 0 2%;
}

.chubby {
	width: 71%;
}

.sidekick {
	width: 21%;
}

.halfbaked {
	width: 46%;
}

/* Primary styles
---------------------------------------- */

.framed {
	text-align: center;
	margin: auto;
}

.enter {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.getdown {
	min-height: 100%;
	position: relative;
}

.square {
	padding: .625em;
	padding-bottom: 1.688em;
	background: #6b6b6b;
	min-height: 666px; /* evil getdown hack */
}

header {
	background: #ddd;
	color: #373737;
	text-align: center;
	height: 5em;
}

nav {
	text-align: center;
	background: #ddd;
}

nav p {
	display: inline;
}

nav a {
	display: inline-block;
	padding: .625em;
}

nav p a {
	background-image: url(http://dl.doomityourself.org/assets/img/fiber.png);
	font-size: 1.625em;
}

nav p img {
	padding: 0;
	vertical-align: middle;
	margin: 0 -2.5em 1.3em;
}

.float-left {
	float: left;
	padding: 0 2.125em;
}

div .small {
	margin: 0 4.125em 0 15.188em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.688em;
	background: #222;
	padding: .188em 0;
	text-align: center;
	font-size: smaller;
	text-transform: capitalize;
}

footer, footer a, footer a:visited {
	color: #6d6d6d;
}

.anti-social {
	margin: 1.438em 0 0;
}

.anti-social img {
    width: 23px;
    height: 23px;
  }

.anti {
	margin: 0;
}

.gryz {
	color: #a4a4a4;
}

.un {
	margin: 0 .813em 0 1.938em;
}

/* Media queries
---------------------------------------- */

/* The media queries included in here are only placeholder. Modify them as your content requires */

@media only screen and (min-width: 480px) {
	/* Wide mobile (480px+) styles go here */
}

@media only screen and (min-width: 768px) { 
	/* Tablets/netbooks (768px+) styles go here */
}

@media only screen and (min-width: 1024px) { 
	/* Desktops (1024px+) styles go here */
}

/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: .5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
	/* Do not show the "github-ribbon" */
	.ribbon {
		display: none;
	}
}

/* MailChimp Form Embed Code
---------------------------------------- */

#mc_embed_signup input {
	border: .063em solid #999;
}
#mc_embed_signup input:focus {
	border-color: #333;
}
#mc_embed_signup .button {
	background-color: #aaa;
	border: 0 none;
	color: #fff;
}
#mc_embed_signup .button:hover {
	background-color: #777;
}
#mc_embed_signup .nowrap {
	white-space: nowrap;
}     
#mc_embed_signup .clear {
	clear: none;
	display: inline;
}
#mc_embed_signup input.email {
	text-indent: .313em;
	width: 58%;
	min-width: 8.125em;
}
#mc_embed_signup input.button {
	display: block;
	width: 35%;
	min-width: 5.625em;
}

#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	clear: both;
}
#mc_embed_signup div.response {
	margin: 1em 0;
	padding: 1em .5em .5em 0;
	font-weight: bold;
	float: left;
	top: -1.5em;
	z-index: 1;
	width: 80%;
}
#mc_embed_signup #mce-error-response {
	display: none;
}
#mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}
#mc_embed_signup label {
	display: block;
	margin-left: -.5em;
}
#mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: .5em 0;
}
#mc_embed_signup {
	width: 21.875em;
	margin-left: .5em;
}

/* GitHub ribbon Code
---------------------------------------- */

.ribbon-set {
	z-index: 4;
	position: absolute;
	top: 0;
	overflow: hidden;
	height: 10em;
	right: 0; /* left: 0; for upperleftcorner */
}

.ribbon, .ribbon:hover {
	text-decoration: none;
	border-bottom: none;
}

.ribbon {
	letter-spacing: -.006em;
	opacity: 0.95;
	padding: .25em 0;
	position: relative;
	top: 2.5em;
	display: block;
	line-height: 1.35em;
	-moz-transform: rotate(45deg); /* upperleftcorner: -45deg */
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -2.6em; /* left: -2.6em; for upperleftcorner */
	background-color: #6d6d6d;
	
}

.ribbon .text {
	padding: .1em 3em;
	border: .063em solid #a4a4a4;
}


/* Leaflet OSM Embed Code
---------------------------------------- */

#map {
	height: 22.5em;
	width: 100%;
	margin-bottom: .7em;
}


/* Animation Code
---------------------------------------- */

@-webkit-keyframes fire {
  0% {
  	-webkit-animation-timing-function: ease;
  	-webkit-transform: rotate(0deg);
  }
  25% {
  	-webkit-transform: rotate(1deg);
  }
  50% {
  	-webkit-animation-timing-function: ease-in;
  	-webkit-transform: rotate(0deg);
  }
  75% {
  	-webkit-transform: rotate(-1deg);
  }
  100% {
  	-webkit-animation-timing-function: ease-inout;
  	-webkit-transform: rotate(0deg);
  }
}

#fire {
    -webkit-animation-name: fire;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    width: 420px;
    height: 517px;
    margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}